<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>
    <div class="case">
        <%- include('navigation'); %>
            <%- include('view',{data:data}) ;%>
    </div>
</body>
<script src="/public/js/scripts.js"></script>

</html>