<div class="countCase">

    <%for(let i=0;i< count.length;i++){%>
        <div class="countContent">
            <div class="counTelement">
                <%=Object.keys(count[i])[0] %>
            </div>
            <div class="counTelement elementColor">
                <%= count[i][Object.keys(count[i])[0]] %>
            </div>

        </div>



        <%}%>
            <script>
                const Caplitailts = (word) => {
                    return word[0].toUpperCase() + word.slice(1)
                }
                let elements = document.getElementsByClassName('counTelement')
                for (let i = 0; i < elements.length; i++) {
                    if (!parseInt(elements[i].innerText)) {
                        elements[i].innerText = `${Caplitailts(elements[i].innerText)} count:`
                    }

                }
            </script>
</div>