<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/scripts.js"></script>
</head>

<body>
    <div class="case">
        <%- include('navigation'); %>
            <div class="content" style="background-color: aqua;">
                2
            </div>
    </div>
</body>

</html>