<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/scripts.js"></script>
</head>

<body>
    <div class="case">
        <%- include('SIdeNavigation'); %>
            <%- include('count',{count:count})%>

    </div>
</body>

</html>