<div class="navigation">
    <div class="title" onclick="MainPage()">
        Main
    </div>
    <div class="List">
        <% for(let i=0; i < navlist.length; i++) { %>
            <div class="ListElement" onclick="redirect('<%=navlist[i].link  %>')" value="<%=navlist[i].link %>">
                <%= navlist[i].title %>
            </div>
            <% } %>
    </div>
</div>