body{
     font-family: Verdana, sans-serif;
     margin: 0;
}
.case{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: stretch;
}
.navigation{
    background-color: red;
}
.Content{
    background-color:blue;
}